.custom-badge .mat-badge-content {
  width: 24px;
  height: 24px;
  font-size: 14px;
  line-height: 24px;
  background-color: #0412D6;
  color: white;
}

.custom-badge .mat-icon {
  font-size: 32px;
  width: 32px;
  height: 32px;
  color: #0412D6;
}
.mat-mdc-raised-button,
.mat-mdc-outlined-button,
.mat-mdc-unelevated-button,
.mat-mdc-button {
  border-radius: 8px !important;
  color: blue !important;
}